<div class=" bg-amber-900 w-screen h-screen flex items-start justify-start p-20 ">

  <div class="container mx-auto">
    <div class="flex flex-row gap-8 pt-10">
      <!-- Card 1 -->
      <div *ngFor="let coffee of coffeeItems" class="card bg-base-100 w-64 h-96 shadow-sm">
        <figure class="w-full h-48 overflow-hidden">
          <img class=" w-full h-full object-cover" [src]="coffee.imageUrl" alt="{{ coffee.name }}" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ coffee.name }}</h2>
          <p class="text-xl font-bold">{{ coffee.price | currency }}</p>
          <p class="text-sm ">Category: {{ coffee.category.name }}</p>
          <small>{{ coffee.description }}</small>

          <div class="card-actions justify-end">
            <button class="btn btn-primary" onclick="my_modal_2.showModal()">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <dialog id="my_modal_2" class="modal">
    <form method="dialog" class="modal-box">
      <h3 class="font-bold text-lg">Add to Cart</h3>
      <p class="py-4">Are you sure you want to add this item to your cart?</p>
      <div class="modal-action">
        <button class="btn">Yes</button>
        <button class="btn btn-ghost" onclick="my_modal_2.close()">No</button>
      </div>
    </form>

