<div class=" bg-amber-950 w-screen h-screen flex items-start justify-start p-20  ">

  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 pt-10">
      <!-- Card 1 -->
      <div *ngFor="let coffee of coffeeItems" class="card bg-base-100 w-full h-96 shadow-sm">
        <figure class="w-full h-48 overflow-hidden">
          <img class=" w-full h-full object-cover" [src]="coffee.imageUrl" alt="{{ coffee.name }}" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ coffee.name }}</h2>
          <p class="text-xl font-bold">{{ coffee.price | currency }}</p>
          <p class="text-sm ">Category: {{ coffee.category.name }}</p>
          <small>{{ coffee.description }}</small>
          <div  class="flex items-center gap-2">
     

          <div class="card-actions justify-end">
            <button class="btn btn-secondary" [routerLink]="['/coffee', coffee.id]">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  

    
