<div class="container mx-auto"></div>
<div class=" bg-amber-950 w-screen h-screen flex items-start justify-start p-20 ">
  <div class="flex flex-row gap-8">
    <!-- Card 1 -->
    <div class="card bg-base-100 w-64 h-80 shadow-sm">
      <figure>
        <img class="w10" src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
        <div class="card-actions justify-end">
          <button class="btn btn-accent" (click)="goToCoffeeItem()">View coffee items</button>
        </div>
      </div>
    </div>

    

    <!-- Card 2 -->
    <div class="card bg-base-100 w-64 h-80 shadow-sm">
      <figure>
        <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card bg-base-100 w-64 h-80 shadow-sm">
      <figure>
        <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Card Title</h2>
        <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
