

<div   class="hero min-h-screen" style="background-image: url('https://wallpaperaccess.com/full/9524787.jpg');">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to My Coffee Shop!</h1>
      <p class="mb-5">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button class="btn btn-primary"  routerLink="/menu">Let's get started</button>
    </div>
  </div>
</div>
